---
import BaseLayout from "../layouts/BaseLayout.astro"
import IntroductionSection from "../components/sections/introduction/IntroductionSection.astro"
---

<BaseLayout
  title="Mayank Kumar"
  description="Senior Android Engineer, Open Source Contributor and AI Product Builder."
>
  <main>
    <IntroductionSection />
  </main>
</BaseLayout>
